.fdb-navbar {
  transition: all 0.3s ease;
  height: 100px;
  padding: 0px 30px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fdb-navbar a {
  margin: 10px 15px;
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: 500;
  &:hover {
    color: green;
  }
}



.fdb-navbar img {
  height: 50px;
}

.fdb-navbar-mobil {
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-left-mobil {
  padding: 0px 5px;
}


.navbar-right-mobil {

}
