.fdb-activity {
  width: 100%;
  .image {
    max-height: 500px;
    overflow:hidden;
    img {
      width: 100%;
      background-size: cover !important;
      background-position: bottom;
      border-radius: 3px;
    }
  }
}

.fdb-why-vincent {
  width: 100%;
  .image {
    max-height: 500px;
    overflow:hidden;
    img {
      width: 100%;
      background-size: cover !important;
      background-position: bottom;
      border-radius: 50%;
    }
  }
}

.height--80 {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.caravane-icon {
  img {
    width: 100%;
    height: auto;
    border-radius: 3px;
  }
}

